body{
	background-color: #1A191E;
}
html {
	font-family: sans-serif;
}
p {
	color: #FFFFFF;
}
h1 {
	color: #FFFFFF;
}
h2 {
	color: #FFFFFF;}
h3 {
	color: #FFFFFF;
}
h4 {
	color: #FFFFFF;
}
h5 {
	color: #FFFFFF;
}
table {
	margin: 0 auto;
	vertical-align: center;
}
td {
	vertical-align: center;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	padding: 5px;
}
.button {
    background-color:  darkslategray; /* Green */
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	float: right;
	margin: 5px 0px 5px 5px;
}

h5.DTransparentText{
	opacity: 1.0;
	color: green;
	float: right;
	animation: transparentText forwards 4s;
}

@keyframes transparentText {
	0%   { opacity: 0; }
	50%   { opacity: 1; }
	100% { opacity: 0; }
}

div.menuBar {
	position: absolute;
    vert-align: middle;
	top: 20px;
	width: 99%;
	height: 40px;
	background-color:  darkslategray;
	box-shadow: -7px 15px 3px rgba(0,0,0,0.5);
    display: table;
}

div.logoText {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
	cursor: pointer;
	text-decoration-color: darkolivegreen;
	text-shadow: #1A191E;
	height: 30px;
	font-family: Cand, serif;
	font-size: 30px;
    display: inline-block;
}

div.logoText {
	text-transform: uppercase;
	color: white;
	text-align: center;
	animation: neonGlow 2s infinite alternate;
}

@keyframes neonGlow {
	0% {
		text-shadow: 0 0 10px rgba(255,255,255,.8),
		0 0 20px rgba(255,255,255,.8),
		0 0 22px  rgba(255,255,255,.8),
		0 0 40px  rgba(66,220,219,.8),
		0 0 60px  rgba(66,220,219,.8),
		0 0 80px  rgba(66,220,219,.5),
		0 0 100px rgba(66,220,219,.5),
		0 0 140px rgba(66,220,219,.5),
		0 0 200px rgba(66,220,219,.5);
	}
	100% {
		text-shadow: 0 0 2px rgba(255,255,255,.8),
		0 0 8px rgba(255,255,255,.8),
		0 0 10px rgba(255,255,255,.8),
		0 0 20px rgba(66,220,219,.8),
		0 0 30px rgba(66,220,219,.8),
		0 0 40px rgba(66,220,219,.8),
		0 0 50px rgba(66,220,219,.5),
		0 0 80px rgba(66,220,219,.5);
	}
}
div.freeSpaceMenuBar {
    width: available;
    float: right;
}
div.rightSideMenuBarCommonSpace{
    float: right;
}
div.signIn {
    position: relative;
	cursor: pointer;
    height: available;
    font-size: 20px;
    display: inline-block;
	padding: 7px 15px 9px 15px;
	float: left;
}

div.signIn:hover {
	background-color: lightslategrey;
	TEXT-DECORATION: none;
}

div.signUp {
    position: relative;
	padding: 7px 15px 9px 15px;
	cursor: pointer;
	height: available;
	font-size: 20px;
    display: inline-block;
    float: left;
}

div.signUp:hover {
	background-color: lightslategrey;
	TEXT-DECORATION: none;
}

div.commonSpace {
	width: 80%;
	margin: 100px auto 0;
	padding: 1%;
}
div.text {
}
div.template {
	float: left;
	width: 49%;
	border-width: thin;
	border-style: dashed;
	border-color: white;
}
div.result {
	float: right;
	width: 49%;
	border-width: thin;
	border-style: dashed;
	border-color: white;
}
div.leftSideBarSpace {
    position: sticky;
    left: 100px;
	height: available;
	width: 300px;
    margin-top: 50px;
}
div.leftSideBarElement {
	cursor: pointer;
	height: 40px;
	width: 300px;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
    margin-bottom: 25px;
    padding-left: 5px;
	padding-top: 13px;
    background-color:  darkslategray;
	box-shadow: -7px 15px 3px rgba(0,0,0,0.5);
}
div.leftSideBarElement_picked {
	cursor: pointer;
	height: 40px;
	width: 300px;
	font-size: 20px;
	font-weight: normal;
	color: #000000;
	margin-bottom: 25px;
	padding-left: 5px;
	padding-top: 10px;
	background-color:  cornflowerblue;
	opacity: 1.0;
	box-shadow: -7px 15px 3px rgba(0,0,0,0.5);

}
div.leftSideBarElement:hover {
	background-color: lightslategrey;
	TEXT-DECORATION: none;
}
div.rightSideCommonSpace {
    top: 50px;
    left: 500px;
	width: available;
    align-content: center;
}
div.rightSideContentSpace {
	position: relative;
    margin-left: auto;
    margin-right: auto;
	align-content: center;
	width: available;
}

input.customDisabledField {
	text-decoration-color: gray;
	color: gray;
}